
  <div class="row  search-panel">

    <div class="col-lg-12 text-center v-center">


      <%= form_tag('/search', remote: true, class: "col-lg-12", method: 'get',id:"search_server") do %>
          <div class="input-group" style="width:540px;text-align:center;margin:0 auto;">
      <%= text_field_tag :query,nil,class:"form-control input-lg",placeholer: "Enter Server name or IP adress",data: {autocomplete_source: autocomplete_path} %>
            <span class="input-group-btn"><%= submit_tag 'GO',class:"btn btn-lg btn-primary" %></span>
          </div>
      <% end %>


    </div>

  </div> <!-- /row -->
  <div id="search_result">

  </div>
  <%= link_to 'Show popular', popular_servers_path, remote: true, class: "btn btn-primary" %>
  <div id="popular">
    </div>
</div>