<%= form_for(@gameserver) do |f| %>
  <% if @gameserver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gameserver.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
      <% @gameserver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
