// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.index-bg {
  background-color: #000;
  background-image: image-url('bg.jpg');
  height: 100%;
  overflow: scroll;
}

body {
  background-color: #000;

}